footer {
    background-image: url(image/footer/footer.jpg);
}
.footer_conteiner {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opacity {
    opacity: 0;
}
